<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Crear nueva marca de PC"></h:outputText>
            <h4>En esta seccion usted crea las marca de computadores que se diligenciaran en la encuesta:</h4>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel styleClass="text-uppercase" rendered="false" value="#{bundle.CreateMarcasLabel_id}" for="id" />
                    <h:inputText styleClass="form-control" rendered="false" id="id" value="#{marcasController.selected.id}" title="#{bundle.CreateMarcasTitle_id}" required="true" requiredMessage="#{bundle.CreateMarcasRequiredMessage_id}"/>
                    <h:outputLabel styleClass="text-uppercase" value="#{bundle.CreateMarcasLabel_descripcion}" for="descripcion" />
                    <h:inputText styleClass="form-control" id="descripcion" value="#{marcasController.selected.descripcion}" title="#{bundle.CreateMarcasTitle_descripcion}" required="true" requiredMessage="#{bundle.CreateMarcasRequiredMessage_descripcion}"/>
                    <h:outputLabel styleClass="text-uppercase" value="#{bundle.CreateMarcasLabel_estado}" for="estado" />
                    <h:inputText styleClass="form-control" id="estado" value="#{marcasController.selected.estado}" title="#{bundle.CreateMarcasTitle_estado}" required="true" requiredMessage="#{bundle.CreateMarcasRequiredMessage_estado}"/>
                </h:panelGrid>
                <br />
                <h:commandLink styleClass="btn btn-success" action="#{marcasController.create}" value="Crear marca" />
                <br />
                <br />
                <h:commandLink styleClass="btn btn-primary" action="#{marcasController.prepareList}" value="Listado marcas" immediate="true"/>
                
            </h:form>
        </ui:define>
    </ui:composition>

</html>
