<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditMarcasTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditMarcasLabel_id}" for="id" />
                    <h:inputText id="id" value="#{marcasController.selected.id}" title="#{bundle.EditMarcasTitle_id}" required="true" requiredMessage="#{bundle.EditMarcasRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditMarcasLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{marcasController.selected.descripcion}" title="#{bundle.EditMarcasTitle_descripcion}" required="true" requiredMessage="#{bundle.EditMarcasRequiredMessage_descripcion}"/>
                    <h:outputLabel value="#{bundle.EditMarcasLabel_estado}" for="estado" />
                    <h:inputText id="estado" value="#{marcasController.selected.estado}" title="#{bundle.EditMarcasTitle_estado}" required="true" requiredMessage="#{bundle.EditMarcasRequiredMessage_estado}"/>
                </h:panelGrid>
                <h:commandLink action="#{marcasController.update}" value="#{bundle.EditMarcasSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditMarcasViewLink}"/>
                <br />
                <h:commandLink action="#{marcasController.prepareList}" value="#{bundle.EditMarcasShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditMarcasIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
