<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewMarcasTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewMarcasLabel_id}"/>
                    <h:outputText value="#{marcasController.selected.id}" title="#{bundle.ViewMarcasTitle_id}"/>
                    <h:outputText value="#{bundle.ViewMarcasLabel_descripcion}"/>
                    <h:outputText value="#{marcasController.selected.descripcion}" title="#{bundle.ViewMarcasTitle_descripcion}"/>
                    <h:outputText value="#{bundle.ViewMarcasLabel_estado}"/>
                    <h:outputText value="#{marcasController.selected.estado}" title="#{bundle.ViewMarcasTitle_estado}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{marcasController.destroyAndView}" value="#{bundle.ViewMarcasDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewMarcasEditLink}"/>
                <br />
                <h:commandLink action="#{marcasController.prepareCreate}" value="#{bundle.ViewMarcasCreateLink}" />
                <br />
                <h:commandLink action="#{marcasController.prepareList}" value="#{bundle.ViewMarcasShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewMarcasIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
