<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Diligencie por favor la siguiente encuesta:"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form onsubmit="document.getElementById('j_idt14:comodin').disabled = true">
                <h:panelGrid columns="2">
                    
                    <h:outputLabel value="" for="idMarcas" />                    
                    <h:inputHidden id="idMarcas"  value="#{encuestaController.selected.idMarcas}" required="true" requiredMessage="#{bundle.CreateEncuestaRequiredMessage_idMarcas}"/>
                    <h:outputLabel value="" for="desMarca" />                    
                    <h:inputHidden id="desMarca"  value="#{encuestaController.selected.desMarca}"  required="true" requiredMessage="#{bundle.CreateEncuestaRequiredMessage_desMarca}"/>
                    
                    <h:outputLabel  rendered="false" value="#{bundle.CreateEncuestaLabel_id}" for="id" />
                    <h:inputText rendered="false" id="id" value="#{encuestaController.selected.id}" title="#{bundle.CreateEncuestaTitle_id}" required="true" requiredMessage="#{bundle.CreateEncuestaRequiredMessage_id}"/>
                    <h:outputLabel styleClass="text-uppercase" value="#{bundle.CreateEncuestaLabel_cedula}" for="cedula" />
                    <h:inputText styleClass="form-control" id="cedula" value="#{encuestaController.selected.cedula}" title="#{bundle.CreateEncuestaTitle_cedula}" required="true" requiredMessage="#{bundle.CreateEncuestaRequiredMessage_cedula}"/>
                    <h:outputLabel styleClass="text-uppercase" value="#{bundle.CreateEncuestaLabel_email}" for="email" />
                    <h:inputText styleClass="form-control" id="email" value="#{encuestaController.selected.email}" title="#{bundle.CreateEncuestaTitle_email}" required="true" requiredMessage="#{bundle.CreateEncuestaRequiredMessage_email}"/>
                    <h:outputLabel styleClass="text-uppercase" value="#{bundle.CreateEncuestaLabel_comentarios}" for="comentarios" />
                    <h:inputTextarea styleClass="md-textarea form-control" id="comentarios" value="#{encuestaController.selected.comentarios}" title="#{bundle.CreateEncuestaTitle_comentarios}" required="true" requiredMessage="#{bundle.CreateEncuestaRequiredMessage_comentarios}"/>
                    
                    
                    <h:outputLabel styleClass="text-uppercase" value="SELECCIONE SU MARCA FAVORITA" for="idMarcas" />                    
                    <h:selectOneMenu styleClass="form-control" id="comodin" onclick="document.getElementById('j_idt14:idMarcas').value=this.value;document.getElementById('j_idt14:desMarca').value=this.options[this.selectedIndex].text;"> 
                        <f:selectItem itemValue = "" itemLabel = "Seleccione" /> 
                        <f:selectItems value="#{marcasController.items}"></f:selectItems>
                    </h:selectOneMenu>
                    
                    <h:outputLabel rendered="false" styleClass="text-uppercase" value="#{bundle.CreateEncuestaLabel_idUsuario}" for="idUsuario" />
                    <h:inputText rendered="false" id="idUsuario" value="#{encuestaController.selected.idUsuario}" title="#{bundle.CreateEncuestaTitle_idUsuario}" required="true" requiredMessage="#{bundle.CreateEncuestaRequiredMessage_idUsuario}"/>
                    <h:outputLabel rendered="false" styleClass="text-uppercase" value="#{bundle.CreateEncuestaLabel_desUsuario}" for="desUsuario" />
                    <h:inputText rendered="false" id="desUsuario" value="#{encuestaController.selected.desUsuario}" title="#{bundle.CreateEncuestaTitle_desUsuario}" required="true" requiredMessage="#{bundle.CreateEncuestaRequiredMessage_desUsuario}"/>
                    
                    <h:outputLabel  rendered="false"  value="#{bundle.CreateEncuestaLabel_fecha}" for="fecha" />                    
                    <h:inputText rendered="false" id="fecha" value="#{encuestaController.selected.fecha}" title="#{bundle.CreateEncuestaTitle_fecha}" required="true" requiredMessage="#{bundle.CreateEncuestaRequiredMessage_fecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    
                    <h:outputLabel rendered="false" value="#{bundle.CreateEncuestaLabel_estado}" for="estado" />
                    <h:inputText rendered="false" id="estado" value="#{encuestaController.selected.estado}" title="#{bundle.CreateEncuestaTitle_estado}" required="true" requiredMessage="#{bundle.CreateEncuestaRequiredMessage_estado}"/>
                </h:panelGrid>
                <br />
                <h:commandLink styleClass="btn btn-success" action="#{encuestaController.create}" value="#{bundle.CreateEncuestaSaveLink}" />
                <br />
                <br />
                <h:commandLink styleClass="btn btn-primary" action="#{encuestaController.prepareList}" value="Mostrar todas las encuestas" immediate="true"/>
                <br />
                <br />
                
            </h:form>
        </ui:define>
    </ui:composition>

</html>
