<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditEncuestaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditEncuestaLabel_id}" for="id" />
                    <h:inputText id="id" value="#{encuestaController.selected.id}" title="#{bundle.EditEncuestaTitle_id}" required="true" requiredMessage="#{bundle.EditEncuestaRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditEncuestaLabel_cedula}" for="cedula" />
                    <h:inputText id="cedula" value="#{encuestaController.selected.cedula}" title="#{bundle.EditEncuestaTitle_cedula}" required="true" requiredMessage="#{bundle.EditEncuestaRequiredMessage_cedula}"/>
                    <h:outputLabel value="#{bundle.EditEncuestaLabel_email}" for="email" />
                    <h:inputText id="email" value="#{encuestaController.selected.email}" title="#{bundle.EditEncuestaTitle_email}" required="true" requiredMessage="#{bundle.EditEncuestaRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.EditEncuestaLabel_comentarios}" for="comentarios" />
                    <h:inputText id="comentarios" value="#{encuestaController.selected.comentarios}" title="#{bundle.EditEncuestaTitle_comentarios}" required="true" requiredMessage="#{bundle.EditEncuestaRequiredMessage_comentarios}"/>
                    <h:outputLabel value="#{bundle.EditEncuestaLabel_idMarcas}" for="idMarcas" />
                    <h:inputText id="idMarcas" value="#{encuestaController.selected.idMarcas}" title="#{bundle.EditEncuestaTitle_idMarcas}" required="true" requiredMessage="#{bundle.EditEncuestaRequiredMessage_idMarcas}"/>
                    <h:outputLabel value="#{bundle.EditEncuestaLabel_desMarca}" for="desMarca" />
                    <h:inputText id="desMarca" value="#{encuestaController.selected.desMarca}" title="#{bundle.EditEncuestaTitle_desMarca}" required="true" requiredMessage="#{bundle.EditEncuestaRequiredMessage_desMarca}"/>
                    <h:outputLabel value="#{bundle.EditEncuestaLabel_idUsuario}" for="idUsuario" />
                    <h:inputText id="idUsuario" value="#{encuestaController.selected.idUsuario}" title="#{bundle.EditEncuestaTitle_idUsuario}" required="true" requiredMessage="#{bundle.EditEncuestaRequiredMessage_idUsuario}"/>
                    <h:outputLabel value="#{bundle.EditEncuestaLabel_desUsuario}" for="desUsuario" />
                    <h:inputText id="desUsuario" value="#{encuestaController.selected.desUsuario}" title="#{bundle.EditEncuestaTitle_desUsuario}" required="true" requiredMessage="#{bundle.EditEncuestaRequiredMessage_desUsuario}"/>
                    <h:outputLabel value="#{bundle.EditEncuestaLabel_fecha}" for="fecha" />
                    <h:inputText id="fecha" value="#{encuestaController.selected.fecha}" title="#{bundle.EditEncuestaTitle_fecha}" required="true" requiredMessage="#{bundle.EditEncuestaRequiredMessage_fecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditEncuestaLabel_estado}" for="estado" />
                    <h:inputText id="estado" value="#{encuestaController.selected.estado}" title="#{bundle.EditEncuestaTitle_estado}" required="true" requiredMessage="#{bundle.EditEncuestaRequiredMessage_estado}"/>
                </h:panelGrid>
                <h:commandLink action="#{encuestaController.update}" value="#{bundle.EditEncuestaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditEncuestaViewLink}"/>
                <br />
                <h:commandLink action="#{encuestaController.prepareList}" value="#{bundle.EditEncuestaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditEncuestaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
