<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Listado de encuestas realizadas"></h:outputText>
            <h4>Aqui puede ver todas las encuestas diligenciadas si desea diligenciar una encuesta haga click en el boton "Nueva encuesta"</h4>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListEncuestaEmpty}" rendered="#{encuestaController.items.rowCount == 0}"/>
                <h:commandLink styleClass="btn btn-primary" action="#{encuestaController.prepareCreate}" value="Nueva encuesta"/>
                <h:panelGroup rendered="#{encuestaController.items.rowCount > 0}">
                    <h:outputText value="#{encuestaController.pagination.pageFirstItem + 1}..#{encuestaController.pagination.pageLastItem + 1}/#{encuestaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{encuestaController.previous}" value="#{bundle.Previous} #{encuestaController.pagination.pageSize}" rendered="#{encuestaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{encuestaController.next}" value="#{bundle.Next} #{encuestaController.pagination.pageSize}" rendered="#{encuestaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable class="table table-hover" value="#{encuestaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEncuestaTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEncuestaTitle_cedula}"/>
                            </f:facet>
                            <h:outputText value="#{item.cedula}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEncuestaTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEncuestaTitle_comentarios}"/>
                            </f:facet>
                            <h:outputText value="#{item.comentarios}"/>
                        </h:column>
                        
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Marca de PC"/>
                            </f:facet>
                            <h:outputText value="#{item.desMarca}"/>
                        </h:column>
                        
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Usuario encuesta"/>
                            </f:facet>
                            <h:outputText value="#{item.desUsuario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEncuestaTitle_fecha}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecha}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Estado encuesta"/>
                            </f:facet>
                            <h:outputText value="#{item.estado == '1' ? 'ACTIVA' : 'INACTIVA'}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>                            
                            <h:commandLink styleClass="btn btn-danger" action="#{encuestaController.destroy}" value="#{bundle.ListEncuestaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                
            </h:form>
        </ui:define>
    </ui:composition>

</html>
