<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEncuestaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewEncuestaLabel_id}"/>
                    <h:outputText value="#{encuestaController.selected.id}" title="#{bundle.ViewEncuestaTitle_id}"/>
                    <h:outputText value="#{bundle.ViewEncuestaLabel_cedula}"/>
                    <h:outputText value="#{encuestaController.selected.cedula}" title="#{bundle.ViewEncuestaTitle_cedula}"/>
                    <h:outputText value="#{bundle.ViewEncuestaLabel_email}"/>
                    <h:outputText value="#{encuestaController.selected.email}" title="#{bundle.ViewEncuestaTitle_email}"/>
                    <h:outputText value="#{bundle.ViewEncuestaLabel_comentarios}"/>
                    <h:outputText value="#{encuestaController.selected.comentarios}" title="#{bundle.ViewEncuestaTitle_comentarios}"/>
                    <h:outputText value="#{bundle.ViewEncuestaLabel_idMarcas}"/>
                    <h:outputText value="#{encuestaController.selected.idMarcas}" title="#{bundle.ViewEncuestaTitle_idMarcas}"/>
                    <h:outputText value="#{bundle.ViewEncuestaLabel_desMarca}"/>
                    <h:outputText value="#{encuestaController.selected.desMarca}" title="#{bundle.ViewEncuestaTitle_desMarca}"/>
                    <h:outputText value="#{bundle.ViewEncuestaLabel_idUsuario}"/>
                    <h:outputText value="#{encuestaController.selected.idUsuario}" title="#{bundle.ViewEncuestaTitle_idUsuario}"/>
                    <h:outputText value="#{bundle.ViewEncuestaLabel_desUsuario}"/>
                    <h:outputText value="#{encuestaController.selected.desUsuario}" title="#{bundle.ViewEncuestaTitle_desUsuario}"/>
                    <h:outputText value="#{bundle.ViewEncuestaLabel_fecha}"/>
                    <h:outputText value="#{encuestaController.selected.fecha}" title="#{bundle.ViewEncuestaTitle_fecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewEncuestaLabel_estado}"/>
                    <h:outputText value="#{encuestaController.selected.estado}" title="#{bundle.ViewEncuestaTitle_estado}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{encuestaController.destroyAndView}" value="#{bundle.ViewEncuestaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewEncuestaEditLink}"/>
                <br />
                <h:commandLink action="#{encuestaController.prepareCreate}" value="#{bundle.ViewEncuestaCreateLink}" />
                <br />
                <h:commandLink action="#{encuestaController.prepareList}" value="#{bundle.ViewEncuestaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewEncuestaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
