<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputStylesheet name="css/bootstrap.min"/>
        <h:outputStylesheet name="css/bootstrap"/>
    </h:head>

    <h:body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
              <a class="navbar-brand" href="#">..::: Encuestas SIC :::..</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/encuestasSic/faces/presentacion/encuesta/List.xhtml">Listado encuestas
                      <span class="sr-only">(current)</span>
                    </a>
                  </li>
                    <li class="nav-item active">
                    <a class="nav-link" href="/encuestasSic/faces/presentacion/encuesta/Create.xhtml">Nueva encuesta
                      <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/encuestasSic/faces/presentacion/marcas/List.xhtml">Listado marcas PC</a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/encuestasSic/faces/presentacion/marcas/Create.xhtml">Nueva marcas PC</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/encuestasSic/faces/presentacion/usuario/List.xhtml">Listado Usuarios</a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/encuestasSic/faces/presentacion/usuario/Create.xhtml">Nuevo Usuario</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/encuestasSic/CerrarSesion">Cerrar sesion</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        <form>
            
        </form>
        <h1>
            <ui:insert name="title">Encuestas SIC</ui:insert>
        </h1>
        <p>
            <ui:insert name="body">Encuestas</ui:insert>
        </p>
    </h:body>

</html>
